<div class="flex justify-center p-10">
  <div class="max-w-screen-md rounded overflow-hidden shadow-xl">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Post {{post.id}}</div>
      <p class="text-gray-700 text-base">
        {{post.body}}
      </p>
    </div>
    <div class="flex justify-center p-10">
      <button
        class="border py-2 px-4 rounded"
        [ngClass]="{
      'bg-green-400': !openComments,
      'bg-blue-400': openComments
    }"
        (click)="openComments = !openComments"
      >
        {{ openComments ? 'Hide' : 'Show' }} Comments
      </button>
    </div>

    <div *ngIf="openComments">
      <p *ngIf="loading && !errorService.errorMessage"
         class="text-center text-xl font-bold pb-20">
        Loading...
      </p>

      <p *ngIf="errorService.errorMessage"
         class="text-center text-xl font-bold text-red-600 pb-20">
        {{ errorService.errorMessage }}
      </p>

      <p *ngIf="!loading && !errorService.errorMessage && comments.length <= 0"
         class="text-center text-xl font-bold pb-20">
        No items found
      </p>

      <div *ngIf="comments.length > 0">
        <app-comment
          *ngFor="let comment of comments"
          [comment]="comment"
        ></app-comment>
      </div>
    </div>
  </div>
</div>
